.main {
  margin: 5vh 10%;
}

.main .title {
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  height: fit-content;
}

.main .title .cta-text {
  text-align: left;
}

.main .title .button {
  margin-left: auto;
}

.main .content {
  margin: 2vh;
  display: grid;
  column-gap: 5vh;
  row-gap: 8vh;
  grid-template-columns: repeat(auto-fit, 48vh);
  justify-content: center;
}
