@media only screen and (max-width: 510px) {
  .navbar .categories {
    display: none;
  }

  .navbar .mobile-navbar {
    position: fixed;
    top: 0;
    padding: 4vh 2vh 1vh 1vh;
    background-color: #edefee;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.6s;
    z-index: 1;
  }

  .navbar .mobile-categories {
    margin-top: 5vh;
    text-align: left;
    list-style-type: none;
    text-transform: capitalize;
  }

  .navbar .mobile-categories a {
    text-decoration: none;
  }

  .navbar .mobile-categories li {
    margin-top: 4vh;
    color: #333333;
  }
}

@media only screen and (min-width: 511px) {
  .navbar .categories {
    margin-left: auto;
    display: flex;
    list-style-type: none;
  }

  .navbar .menu-icon {
    display: none;
  }

  .navbar .mobile-navbar {
    display: none;
  }
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
}

.navbar .navbar-img {
  height: 6vh;
}

.navbar .menu-icon {
  margin-left: auto;
  height: 4vh;
}

.navbar .menu-icon:hover {
  cursor: pointer;
}

.navbar .navbar-img:hover {
  cursor: pointer;
}

.navbar .categories a {
  text-decoration: none;
}

.navbar .categories li {
  margin: auto 2vh;
  color: black;
  text-transform: uppercase;
}

.navbar .categories li:hover {
  text-decoration: underline;
}
