* {
  margin: 0;
}

.section-title {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}

.cta-text {
  font-size: 18pt;
  font-weight: 600;
  color: inherit;
}

.section-category {
  font-size: 16pt;
  font-weight: 700;
  color: inherit;
}

.section-comment {
  font-size: 12pt;
  font-weight: 500;
  color: inherit;
}

.card-title {
  font-size: 18pt;
  font-weight: 600;
  color: inherit;
}

.paragraph {
  font-size: 16pt;
  color: inherit;
}

.highlight-text {
  font-size: 16pt;
  font-weight: 400;
  color: inherit;
}

.button {
  height: fit-content;
  padding: 1vh 3vh;
  background-color: #f4ce14;
  color: #333333;
  font-size: 18pt;
  font-weight: 600;
  border: none;
  border-radius: 1vh;
}

.button:hover {
  cursor: pointer;
  background-color: #f4cf14d3;
}
